* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: white;
}

  header {
    background-color: #14668f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  header h1 {
    font-weight: bold;
    font-size: 35px;
    color: white;
    margin: 0;
    display: inline;
  }

  .seo {
    color: lightgray;
  }
  
  header a {
    color: white;
  }

  header nav {
      float: right;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .background {
    background-color: lightgray;
  }

  .footer {
    color: lightgray;
    width: 80%;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .footer h2 {
    display: inline;
    color: lightgray;
    font-size: 30px;
    margin: 0;
  }

  footer div {
    float: left;
    line-height: 1.5;
    text-align: left;
  }

  .hero {
    width: 1440px;
    height: 800px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
  }

  .benefits {
    text-align: center;
    width: 20%;
    height: 100%;
    float: right;
    background: rgb(31, 150, 210);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 20px;
  }

  .benefits h3 {
    font-size: 20px;
    color: white;
    display: inline-block;
    padding-top: 10px;
  }

  .benefits p {
    line-height: 1.7;
    color: white;
    font-size: 15px;
    margin: 0 10px 0 10px;
    text-align: left;
  }
  
  .benefits img {
    max-width: 150px;
  }
  
  .benefits h3 {
    margin-top: 10px;
  }

  .content {
    text-align: center;
    float: left;
    width: 76%;
    height: 900px;
    margin: 20px 0 0 10px;
  }

  .search-engine-optimization {
    text-align: left;
    background: #4182e3;
    color: white;
    height: 300px;
      }

  .search-engine-optimization img {
    float: left;
    width: 300px;
    margin: 50px;
  }

.online-reputation-management {
  text-align: left;
  background: #4182e3;
  color: white;
  margin: 5px 0 5px 0;
  height: 300px;
}

  .online-reputation-management img {
    float: right;
    width: 300px;
    padding-left: 10px;
  }

  .social-media-marketing {
    text-align: left;
    background: #4182e3;
    color: white;
    height: 300px;
    }

  .social-media-marketing img {
    float: left;
    width: 300px;
    margin: 50px;
  }
  
  .company-tools {
    padding: 50px 10px 35px;
    width: 90%;
  }

  .company-tools h2 {
    font-size: 40px;
    margin-bottom: 8px;
  }

  .company-tools p {
    font-size: 16px;
    line-height: 1.5;
  }
  